VITE_FIREBASE_API_KEY=AIzaSyAPikdmfPWILjPcfpOb7ZNjqkrgcTobG4s
VITE_FIREBASE_AUTH_DOMAIN=aplicacao-de-emulsao.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aplicacao-de-emulsao
VITE_FIREBASE_STORAGE_BUCKET=aplicacao-de-emulsao.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=594699607402
VITE_FIREBASE_APP_ID=1:594699607402:web:d8b4b5015bc02e90dbd913
VITE_FIREBASE_MEASUREMENT_ID=G-S85JJRWHK1
VITE_FUNCTIONS_REGION=southamerica-east1
VITE_ADMIN_EMAILS=thiago.ferreira@enaex.com
VITE_BASE_PATH=/
